/* button reset */
.wcms-data .wcms-button,
.wcms-data .wcms-accordion-opener,
.wcms-data .wcms-notice-opener,
.wcms-data .wcms-layer-close,
.wcms-data .wcms-agree-opener {
	border-radius: 0;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	overflow: visible;
}
.wcms-data .wcms-button[type='submit'],
.wcms-data .wcms-accordion-opener[type='submit'],
.wcms-data .wcms-notice-opener[type='submit'],
.wcms-data .wcms-layer-close[type='submit'],
.wcms-data .wcms-agree-opener[type='submit'] {
	filter: chroma(color=#000000);
}
.wcms-data .wcms-button::-moz-focus-inner,
.wcms-data .wcms-accordion-opener::-moz-focus-inner,
.wcms-data .wcms-notice-opener::-moz-focus-inner,
.wcms-data .wcms-layer-close::-moz-focus-inner,
.wcms-data .wcms-agree-opener::-moz-focus-inner {
	padding: 0;
	border: none;
}
.wcms-data .wcms-button[disabled],
.wcms-data .wcms-accordion-opener[disabled],
.wcms-data .wcms-notice-opener[disabled],
.wcms-data .wcms-layer-close[disabled],
.wcms-data .wcms-agree-opener[disabled] {
	cursor: default;
	opacity: 1;
}

/* radio reset, checkbox reset */
.wcms-data .wcms-radio[type='radio'],
.wcms-data .wcms-checkbox[type='checkbox'] {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	width: 13px;
	height: 13px;
}

/* for-a11y */
.wcms-data .wcms-for-a11y {
	display: block;
	margin: 0;
	position: absolute;
	z-index: -1;
	width: 1px;
	height: 1px;
	color: transparent;
	border: none;
	padding: 0;
	overflow: hidden;
	opacity: 0;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	filter: alpha(opacity=0);
	background: none;
}
.wcms-data caption.wcms-for-a11y {
	display: table-caption;
	margin: 0 0 -1px;
	position: static;
}

/* script style */
.wcms-data [data-tab]:not(.js-tabpanel-opened) {
	display: none;
}

/* color */
.wcms-data .wcms-color-black.wcms-color-black {
	color: #111;
}
.wcms-data .wcms-color-green.wcms-color-green {
	color: #00a49d;
}
.wcms-data .wcms-color-purple.wcms-color-purple {
	color: #8665ef;
}
.wcms-data .wcms-color-blue.wcms-color-blue {
	color: #3996fc;
}
.wcms-data .wcms-color-pink.wcms-color-pink {
	color: #f14a76;
}
.wcms-data .wcms-color-yellow.wcms-color-yellow {
	color: #ffb300;
}
.wcms-data .wcms-color-red.wcms-color-red {
	color: #ce2d2d;
}
.wcms-data .wcms-color-gray.wcms-color-gray {
	color: #888;
}
.wcms-data .wcms-color-gold.wcms-color-gold {
	color: #b48e5a;
}

/* weight */
.wcms-data .wcms-weight-light.wcms-weight-light {
	font-weight: 300;
}
.wcms-data .wcms-weight-normal.wcms-weight-normal {
	font-weight: 400;
}
.wcms-data .wcms-weight-medium.wcms-weight-medium {
	font-weight: 500;
}
.wcms-data .wcms-weight-bold.wcms-weight-bold {
	font-weight: 700;
}

/* size */
.wcms-data .wcms-size-large.wcms-size-large {
	font-size: 20px;
	line-height: 27px;
}
.wcms-data .wcms-size-medium.wcms-size-medium {
	font-size: 17px;
	line-height: 22px;
}
.wcms-data .wcms-size-normal.wcms-size-normal {
	font-size: 15px;
	line-height: 20px;
}
.wcms-data .wcms-size-small.wcms-size-small {
	font-size: 13px;
	line-height: 18px;
}

/* title */
.wcms-data .wcms-title-large {
	margin: 0 0 35px;
	font-size: 20px;
	line-height: 27px;
	font-weight: 700;
}
.wcms-data .wcms-title-medium {
	margin: 0 0 10px;
	font-size: 17px;
	line-height: 22px;
	font-weight: 500;
}
.wcms-data .wcms-title-normal {
	margin: 0 0 10px;
	font-size: 15px;
	line-height: 20px;
	font-weight: 500;
}
.wcms-data .wcms-title-small {
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
}

/* circle title */
.wcms-data .wcms-circle-title {
	margin: 0 0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.wcms-data .wcms-circle-title-symbol {
	display: block;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-right: 10px;
}
.wcms-data .wcms-circle-title-symbol::before {
	content: '　';
	width: 0;
	overflow: hidden;
}
.wcms-data .wcms-circle-title-symbol::after {
	content: attr(data-symbol);
	display: block;
	font-size: 10px;
	line-height: 14px;
	font-weight: 400;
	color: #fff;
	padding: 2px 5px;
	box-sizing: border-box;
	min-width: 18px;
	text-align: center;
	border-radius: 9px;
	background-color: #111;
}
.wcms-data .wcms-circle-title-text {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
	font-weight: 400;
}

/* text */
.wcms-data .wcms-text {
	margin: 10px 0;
}
.wcms-data .wcms-text:first-child {
	margin-top: 0;
}
.wcms-data .wcms-text:last-child {
	margin-bottom: 0;
}

/* ETC text */
.wcms-data .wcms-deco-underline {
	text-decoration: underline;
}

/* align */
.wcms-data .wcms-align-left.wcms-align-left {
	text-align: left;
}
.wcms-data .wcms-align-center.wcms-align-center {
	text-align: center;
}
.wcms-data .wcms-align-right.wcms-align-right {
	text-align: right;
}

/* section */
.wcms-data .wcms-section {
	margin: 25px 0;
}
.wcms-data .wcms-section:first-child {
	margin-top: 0;
}
.wcms-data .wcms-section:last-child {
	margin-bottom: 0;
}

/* section-group */
.wcms-data .wcms-section-group {
	margin: 35px 0;
}
.wcms-data .wcms-section-group:first-child {
	margin-top: 0;
}
.wcms-data .wcms-section-group:last-child {
	margin-bottom: 0;
}

/* margin */
.wcms-data .wcms-margin-large.wcms-margin-large {
	margin-top: 35px;
	margin-bottom: 35px;
}
.wcms-data .wcms-margin-normal.wcms-margin-normal {
	margin-top: 25px;
	margin-bottom: 25px;
}
.wcms-data .wcms-margin-regular.wcms-margin-regular {
	margin-top: 15px;
	margin-bottom: 15px;
}
.wcms-data .wcms-margin-small.wcms-margin-small {
	margin-top: 10px;
	margin-bottom: 10px;
}
.wcms-data .wcms-margin-none.wcms-margin-none {
	margin-top: 0;
	margin-bottom: 0;
}
.wcms-data .wcms-margin-large.wcms-margin-large:first-child,
.wcms-data .wcms-margin-normal.wcms-margin-normal:first-child,
.wcms-data .wcms-margin-regular.wcms-margin-regular:first-child,
.wcms-data .wcms-margin-small.wcms-margin-small:first-child {
	margin-top: 0;
}
.wcms-data .wcms-margin-large.wcms-margin-large:last-child,
.wcms-data .wcms-margin-normal.wcms-margin-normal:last-child,
.wcms-data .wcms-margin-regular.wcms-margin-regular:last-child,
.wcms-data .wcms-margin-small.wcms-margin-small:last-child {
	margin-bottom: 0;
}

/* list */
.wcms-data .wcms-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.wcms-data .wcms-list-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin: 10px 0;
}
.wcms-data .wcms-list-item:first-child {
	margin-top: 0;
}
.wcms-data .wcms-list-item:last-child {
	margin-bottom: 0;
}
.wcms-data .wcms-list-item[data-symbol]::before,
.wcms-data .wcms-list-item.type-dot::before {
	content: attr(data-symbol);
	display: block;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	margin-right: 5px;
}
.wcms-data .wcms-list-item.type-dot::before {
	content: '　';
	width: 2px;
	overflow: hidden;
	background: url('../images/wcms/dot.svg') no-repeat 50% 50%;
}
.wcms-data .wcms-list-item.type-dot.wcms-color-green::before {
	background-image: url('../images/wcms/dot-green.svg');
}
.wcms-data .wcms-list-item.type-dot.wcms-color-purple::before {
	background-image: url('../images/wcms/dot-purple.svg');
}
.wcms-data .wcms-list-item.type-dot.wcms-color-blue::before {
	background-image: url('../images/wcms/dot-blue.svg');
}
.wcms-data .wcms-list-item.type-dot.wcms-color-pink::before {
	background-image: url('../images/wcms/dot-pink.svg');
}
.wcms-data .wcms-list-item.type-dot.wcms-color-yellow::before {
	background-image: url('../images/wcms/dot-yellow.svg');
}
.wcms-data .wcms-list-item.type-dot.wcms-color-red::before {
	background-image: url('../images/wcms/dot-red.svg');
}
.wcms-data .wcms-list-item.type-dot.wcms-color-gray::before {
	background-image: url('../images/wcms/dot-gray.svg');
}
.wcms-data .wcms-list-item.type-dot.wcms-color-gold::before {
	background-image: url('../images/wcms/dot-gold.svg');
}
.wcms-data .wcms-list-contents {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
}

/* table */
.wcms-data .wcms-table {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	border-bottom: 1px solid #e5e5e5;
}
.wcms-data .wcms-table-inner {
	margin: -1px 0 0 -1px;
}
.wcms-data .wcms-table-inner > table {
	width: 100%;
	table-layout: fixed;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
	box-sizing: border-box;
}
.wcms-data .wcms-table-inner > table > caption {
	width: 1px;
	height: 1px;
	overflow: hidden;
	margin-top: -1px;
	font-size: 1px;
	line-height: 1px;
	color: transparent;
	opacity: 0;
}
.wcms-data .wcms-table-inner > table > thead > tr > th,
.wcms-data .wcms-table-inner > table > tbody > tr > th,
.wcms-data .wcms-table-inner > table > tbody > tr > td {
	box-sizing: border-box;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #111;
	text-align: left;
	vertical-align: middle;
	padding: 12px 14px;
	word-break: break-all;
	border: 0 solid #e5e5e5;
	border-width: 1px 0 0 1px;
	background-color: #fff;
}
.wcms-data .wcms-table-inner > table > thead > tr > th,
.wcms-data .wcms-table-inner > table > tbody > tr > th {
	padding-top: 16px;
	padding-bottom: 16px;
	font-weight: 300;
	color: #888;
	background-color: #f8f8f8;
}
.wcms-data .wcms-table-inner > table > caption + tbody > tr:first-child > th,
.wcms-data .wcms-table-inner > table > caption + tbody > tr:first-child > td,
.wcms-data .wcms-table-inner > table > colgroup + tbody > tr:first-child > th,
.wcms-data .wcms-table-inner > table > colgroup + tbody > tr:first-child > td,
.wcms-data .wcms-table-inner > table > tbody:first-child > tr:first-child > th,
.wcms-data .wcms-table-inner > table > tbody:first-child > tr:first-child > td {
	border-top-width: 2px;
}

/* table type-2 */
.wcms-data .wcms-table.type-2 > .wcms-table-inner > table > thead > tr > th,
.wcms-data .wcms-table.type-2 > .wcms-table-inner > table > tbody > tr > th {
	background-color: #efefef;
}

/* accordion */
.wcms-data .wcms-accordion-list {
	list-style: none;
	margin: 0;
	padding: 0;
	border-radius: 6px;
	border: 1px solid #e5e5e5;
	background-color: #f8f8f8;
}
.wcms-data .wcms-accordion-item + .wcms-accordion-item::before {
	content: '';
	display: block;
	margin: 0 19px;
	border-top: 1px solid #e5e5e5;
}
.wcms-data .wcms-accordion-head {
	position: relative;
	padding: 19px 52px 19px 19px;
	min-height: 20px;
}
.wcms-data .wcms-accordion-title {
	margin: 0;
	font-size: 15px;
	line-height: 20px;
	font-weight: 500;
}
.wcms-data .wcms-accordion-opener {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.wcms-data .wcms-accordion-opener::before {
	content: '';
	display: block;
	width: 13px;
	height: 12px;
	position: absolute;
	top: 50%;
	right: 19px;
	margin-top: -6px;
	background: url('../images/wcms/accordion-opener.svg') no-repeat 50% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.wcms-data .wcms-accordion-opener .wcms-for-a11y::before {
	content: '상세 내용 보기';
}
.wcms-data .wcms-accordion-layer {
	display: none;
	height: 0;
}
.wcms-data .wcms-accordion-layer::before,
.wcms-data .wcms-accordion-layer::after {
	content: '';
	display: table;
	clear: both;
}
.wcms-data .wcms-accordion-contents {
	border-top: 1px solid #e5e5e5;
	padding: 24px 19px;
	background-color: #fff;
}
.wcms-data .wcms-accordion-item:last-child > .wcms-accordion-layer,
.wcms-data .wcms-accordion-item:last-child > .wcms-accordion-layer > .wcms-accordion-contents {
	border-radius: 0 0 5px 5px;
}
.wcms-data .wcms-accordion-item.is-opened > .wcms-accordion-head .wcms-accordion-opener::before {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.wcms-data .wcms-accordion-item.is-opened > .wcms-accordion-head .wcms-accordion-opener .wcms-for-a11y::before {
	content: '상세 내용 숨기기';
}
.wcms-data .wcms-accordion-item.is-opened > .wcms-accordion-layer {
	display: block;
	height: auto;
}
.wcms-data .wcms-accordion-item.is-opened + .wcms-accordion-item::before {
	margin-left: 0;
	margin-right: 0;
}

/* notice */
.wcms-data .wcms-notice {
	margin: 30px 0;
}
.wcms-data .wcms-notice:first-child {
	margin-top: 0;
}
.wcms-data .wcms-notice:last-child {
	margin-bottom: 0;
}
.wcms-data .wcms-notice-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.wcms-data .wcms-notice-item + .wcms-notice-item {
	margin-top: 10px;
}
.wcms-data .wcms-notice-head {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 4px 0 4px 23px;
	min-height: 20px;
	background: url('../images/wcms/notice.svg') no-repeat 0 5px;
}
.wcms-data .wcms-notice-title {
	margin: 0;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 1;
	flex: 0 0 1;
	min-width: 0;
	font-size: 15px;
	line-height: 20px;
	font-weight: 500;
}
.wcms-data .wcms-notice-opener {
	display: block;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	margin-left: 10px;
}
.wcms-data .wcms-notice-opener::before {
	content: '';
	display: block;
	width: 13px;
	height: 20px;
	background: url('../images/wcms/notice-opener.svg') no-repeat 50% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.wcms-data .wcms-notice-opener::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
}
.wcms-data .wcms-notice-opener .wcms-for-a11y::before {
	content: '상세 내용 보기';
}
.wcms-data .wcms-notice-layer {
	display: none;
	height: 0;
}
.wcms-data .wcms-notice-layer::before,
.wcms-data .wcms-notice-layer::after {
	content: '';
	display: table;
	clear: both;
}
.wcms-data .wcms-notice-contents {
	padding: 7px 6px;
}
.wcms-data .wcms-notice-item:last-child > .wcms-notice-contents,
.wcms-data .wcms-notice-item:last-child > .wcms-notice-layer > .wcms-notice-contents {
	padding-bottom: 0;
}
.wcms-data .wcms-notice-item.is-opened > .wcms-notice-head .wcms-notice-opener::before {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.wcms-data .wcms-notice-item.is-opened > .wcms-notice-head .wcms-notice-opener .wcms-for-a11y::before {
	content: '상세 내용 숨기기';
}
.wcms-data .wcms-notice-item.is-opened > .wcms-notice-layer {
	display: block;
	height: auto;
}

/* info */
.wcms-data .wcms-info {
	margin: 15px 0;
	font-size: 13px;
	line-height: 18px;
	color: #888;
	padding: 0 0 0 23px;
	min-height: 18px;
	background: url('../images/wcms/info.svg') no-repeat 0 0;
}
.wcms-data .wcms-info:first-child {
	margin-top: 0;
}
.wcms-data .wcms-info:last-child {
	margin-bottom: 0;
}

/* image */
.wcms-data .wcms-image {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

/* box */
.wcms-data .wcms-box-white,
.wcms-data .wcms-box-white-2 {
	padding: 19px;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	background-color: #fff;
}
.wcms-data .wcms-box-gray,
.wcms-data .wcms-box-gray-2 {
	padding: 20px;
	border-radius: 6px;
	background-color: #f8f8f8;
}
.wcms-data .wcms-box-white-2,
.wcms-data .wcms-box-gray-2 {
	border-radius: 15px;
}

/* button */
.wcms-data .wcms-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	box-sizing: border-box;
	width: 100%;
	min-height: 48px;
	text-decoration: none;
	padding: 3px 13px;
	border-radius: 6px;
	border: 1px solid #00a49d;
	background-color: #00a49d;
}
.wcms-data .wcms-button-text {
	display: block;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	color: #fff;
}
.wcms-data .wcms-button.type-black {
	border-color: #111;
	background-color: #111;
}
.wcms-data .wcms-button.type-purple {
	border-color: #8665ef;
	background-color: #8665ef;
}
.wcms-data .wcms-button.type-blue {
	border-color: #3996fc;
	background-color: #3996fc;
}
.wcms-data .wcms-button.type-pink {
	border-color: #f14a76;
	background-color: #f14a76;
}
.wcms-data .wcms-button.type-yellow {
	border-color: #ffb300;
	background-color: #ffb300;
}
.wcms-data .wcms-button.type-red {
	border-color: #ce2d2d;
	background-color: #ce2d2d;
}
.wcms-data .wcms-button.type-gray {
	border-color: #888;
	background-color: #888;
}
.wcms-data .wcms-button.type-gold {
	border-color: #b48e5a;
	background-color: #b48e5a;
}
.wcms-data .wcms-button.type-light-gray {
	border-color: #f5f5f5;
	background-color: #f5f5f5;
}
.wcms-data .wcms-button.type-light-gray .wcms-button-text {
	color: #888;
}

/* button type-line */
.wcms-data .wcms-button.type-line {
	background-color: #fff;
}
.wcms-data .wcms-button.type-line .wcms-button-text {
	color: #00a49d;
}
.wcms-data .wcms-button.type-line.type-black .wcms-button-text {
	color: #111;
}
.wcms-data .wcms-button.type-line.type-purple .wcms-button-text {
	color: #8665ef;
}
.wcms-data .wcms-button.type-line.type-blue .wcms-button-text {
	color: #3996fc;
}
.wcms-data .wcms-button.type-line.type-pink .wcms-button-text {
	color: #f14a76;
}
.wcms-data .wcms-button.type-line.type-yellow .wcms-button-text {
	color: #ffb300;
}
.wcms-data .wcms-button.type-line.type-red .wcms-button-text {
	color: #ce2d2d;
}
.wcms-data .wcms-button.type-line.type-gray .wcms-button-text {
	color: #888;
}
.wcms-data .wcms-button.type-line.type-gold .wcms-button-text {
	color: #b48e5a;
}
.wcms-data .wcms-button.type-line.type-light-gray {
	border-color: #e5e5e5;
}
.wcms-data .wcms-button.type-line.type-light-gray .wcms-button-text {
	color: #888;
}

/* button type-inline */
.wcms-data .wcms-button.type-inline {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: top;
	width: auto;
	min-height: 27px;
	border-radius: 4px;
	padding: 2px 6px;
}
.wcms-data .wcms-button.type-inline .wcms-button-text {
	font-size: 12px;
	line-height: 17px;
}

/* flex */
.wcms-data .wcms-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.wcms-data .wcms-flex-cell {
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
}
.wcms-data .wcms-flex-cell + .wcms-flex-cell {
	margin-left: 10px;
}
.wcms-data .wcms-flex-cell + .wcms-flex-cell.type-large-margin {
	margin-left: 15px;
}
.wcms-data .wcms-flexible,
.wcms-data .wcms-flex-cell.type-flexible {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
	min-height: 0;
}
.wcms-data .wcms-flex.type-align-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.wcms-data .wcms-flex.type-align-right {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.wcms-data .wcms-flex.type-align-top {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.wcms-data .wcms-flex.type-align-bottom {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

/* link block */
.wcms-data .wcms-link-block {
	display: block;
	text-decoration: none;
	color: inherit;
}

/* form */
.wcms-data .wcms-form-item {
	margin: 25px 0;
}
.wcms-data .wcms-form-item:first-child {
	margin-top: 0;
}
.wcms-data .wcms-form-item:last-child {
	margin-bottom: 0;
}
.wcms-data .wcms-form-key {
	margin-bottom: 2px;
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
	color: #888;
}
.wcms-data .wcms-form-val {
	margin: 0;
}

/* input */
.wcms-data .wcms-input-block {
	position: relative;
}
.wcms-data .wcms-input {
	margin: 0;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	display: block;
	box-sizing: border-box;
	border-radius: 0;
	background: none;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
	height: 40px;
	font-size: 17px;
	line-height: 22px;
	padding: 9px 0 8px;
	color: #111;
	-webkit-text-fill-color: #111;
}
.wcms-data .wcms-input[type='number']::-webkit-outer-spin-button,
.wcms-data .wcms-input[type='number']::-webkit-inner-spin-button,
.wcms-data .wcms-input[type='date']::-webkit-outer-spin-button,
.wcms-data .wcms-input[type='date']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
.wcms-data .wcms-input[type='number'],
.wcms-data .wcms-input[type='date'] {
	white-space: nowrap;
	-moz-appearance: textfield;
}
.wcms-data .wcms-input[type='date']::-webkit-calendar-picker-indicator {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.wcms-data .wcms-input::-ms-clear,
.wcms-data .wcms-input::-ms-reveal {
	display: none;
}
.wcms-data .wcms-input::-webkit-clear-button {
	display: none;
}
.wcms-data .wcms-input::-webkit-search-decoration,
.wcms-data .wcms-input::-webkit-search-cancel-button,
.wcms-data .wcms-input::-webkit-search-results-button,
.wcms-data .wcms-input::-webkit-search-results-decoration {
	display: none;
}
.wcms-data .wcms-input::-webkit-input-placeholder {
	opacity: 1;
	color: #c4c4c4;
	-webkit-text-fill-color: #c4c4c4;
}
.wcms-data .wcms-input::-moz-placeholder {
	opacity: 1;
	color: #c4c4c4;
	-webkit-text-fill-color: #c4c4c4;
}
.wcms-data .wcms-input:-ms-input-placeholder {
	opacity: 1;
	color: #c4c4c4;
	-webkit-text-fill-color: #c4c4c4;
}
.wcms-data .wcms-input:-moz-placeholder {
	opacity: 1;
	color: #c4c4c4;
	-webkit-text-fill-color: #c4c4c4;
}
.wcms-data .wcms-input:focus {
	border-bottom-color: #111;
}
.wcms-data .wcms-input[readonly],
.wcms-data .wcms-input[disabled],
.wcms-data .wcms-input-block.type-disabled .wcms-input {
	opacity: 1;
	border-bottom-color: #e5e5e5;
	color: #888;
	-webkit-text-fill-color: #888;
}

/* input type-resident-registration-number */
.wcms-data .wcms-input-block.type-resident-registration-number {
	padding-right: 98px;
}
.wcms-data .wcms-input-block.type-resident-registration-number::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 7px;
	width: 83px;
	height: 8px;
	margin-top: -4px;
	background: radial-gradient(ellipse at center, var(--basic) 0%, var(--basic) 35%, transparent 45%) repeat-x 0 center / 14px 14px;
}

/* error message */
.wcms-data .wcms-error-message {
	margin: 7px 10px 0;
	font-size: 13px;
	line-height: 18px;
	color: #ce2d2d;
}

/* form error */
.wcms-data .wcms-form-group.is-error .wcms-input {
	border-bottom-color: #ce2d2d;
}

/* radio, checkbox */
.wcms-data .wcms-radio-block,
.wcms-data .wcms-checkbox-block {
	position: relative;
	z-index: 0;
	font-size: 0;
	line-height: 0;
}
.wcms-data .wcms-radio-block .wcms-radio,
.wcms-data .wcms-checkbox-block .wcms-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.wcms-data .wcms-radio-block .wcms-label,
.wcms-data .wcms-checkbox-block .wcms-label {
	font-size: medium;
	line-height: normal;
}
.wcms-data .wcms-checkbox-object,
.wcms-data .wcms-radio-object {
	position: relative;
	display: block;
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
}
.wcms-data .wcms-checkbox:focus + .wcms-label .wcms-checkbox-object,
.wcms-data .wcms-radio:focus + .wcms-label .wcms-radio-object {
	outline-width: 1px;
	outline-style: dotted;
}
.wcms-data .wcms-checkbox-object {
	background: url('../images/wcms/checkbox.svg') no-repeat 0 50%;
}
.wcms-data .wcms-checkbox:checked + .wcms-label .wcms-checkbox-object {
	background-image: url('../images/wcms/checkbox-active.svg');
}
.wcms-data .wcms-checkbox[disabled] + .wcms-label .wcms-checkbox-object {
	background-image: url('../images/wcms/checkbox-disabled.svg');
}
.wcms-data .wcms-checkbox[disabled]:checked + .wcms-label .wcms-checkbox-object {
	background-image: url('../images/wcms/checkbox-disabled-active.svg');
}
.wcms-data .wcms-radio-object {
	border-radius: 100%;
	border: 1px solid #d9d9d9;
	background-color: #fff;
}
.wcms-data .wcms-radio-object::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -5px;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #00a49d;
	opacity: 0;
}
.wcms-data .wcms-radio:checked + .wcms-label .wcms-radio-object {
	border-color: #00a49d;
}
.wcms-data .wcms-radio:checked + .wcms-label .wcms-radio-object::before {
	opacity: 1;
}
.wcms-data .wcms-radio[disabled] + .wcms-label .wcms-radio-object {
	border-color: #a2a2a2;
	background-color: #e5e5e5;
}
.wcms-data .wcms-radio[disabled] + .wcms-label .wcms-radio-object::before {
	background-color: #a2a2a2;
}
.wcms-data .wcms-label {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	vertical-align: top;
}
.wcms-data .wcms-label-text {
	display: block;
	font-size: 13px;
	line-height: 18px;
}
.wcms-data .wcms-checkbox-object + .wcms-label-text,
.wcms-data .wcms-label-text + .wcms-checkbox-object,
.wcms-data .wcms-radio-object + .wcms-label-text,
.wcms-data .wcms-label-text + .wcms-radio-object {
	margin-left: 4px;
}

/* agree */
.wcms-data .wcms-agree-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.wcms-data .wcms-agree-item {
	margin: 18px 0;
}
.wcms-data .wcms-agree-item:first-child {
	margin-top: 0;
}
.wcms-data .wcms-agree-item:last-child {
	margin-bottom: 0;
}
.wcms-data .wcms-agree-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.wcms-data .wcms-agree-text {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
}
.wcms-data .wcms-agree-link {
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	position: relative;
	display: block;
	width: 18px;
	height: 18px;
	background: url('../images/wcms/arrow.svg') no-repeat 100% 50%;
}
.wcms-data .wcms-agree-link::before,
.wcms-data .wcms-agree-opener::after {
	content: '';
	display: block;
	padding: 5px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -5px;
	left: -5px;
}
.wcms-data .wcms-agree-opener {
	position: relative;
	display: block;
	width: 18px;
	height: 18px;
}
.wcms-data .wcms-agree-opener::before {
	content: '';
	display: block;
	width: 13px;
	height: 12px;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -6px;
	background: url('../images/wcms/accordion-opener.svg') no-repeat 50% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.wcms-data .wcms-agree-opener .wcms-for-a11y::before {
	content: '상세 내용 보기';
}
.wcms-data .wcms-agree-layer {
	display: none;
	height: 0;
}
.wcms-data .wcms-agree-layer::before,
.wcms-data .wcms-agree-layer::after {
	content: '';
	display: table;
	clear: both;
}
.wcms-data .wcms-agree-contents {
	padding: 15px 0 0 13px;
}
.wcms-data .wcms-agree-item.is-opened > .wcms-agree-block .wcms-agree-opener::before {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.wcms-data .wcms-agree-item.is-opened > .wcms-agree-block .wcms-agree-opener .wcms-for-a11y::before {
	content: '상세 내용 숨기기';
}
.wcms-data .wcms-agree-item.is-opened > .wcms-agree-layer {
	display: block;
	height: auto;
}

/* layer */
.wcms-data .wcms-layer-wrap {
	display: none;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
	text-align: center;
	background: rgba(31, 37, 49, 0.6);
	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.wcms-data .wcms-layer-wrap::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.wcms-data .wcms-layer-container {
	display: inline-block;
	vertical-align: middle;
	font-size: medium;
	line-height: normal;
	white-space: normal;
	text-align: left;
}
.wcms-data .wcms-layer-wrap.type-full::before {
	display: none;
}
.wcms-data .wcms-layer-wrap.type-full .wcms-layer-container {
	display: block;
	width: 100%;
	height: 100%;
}
.wcms-data .wcms-layer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.wcms-data .wcms-layer-head,
.wcms-data .wcms-layer-foot {
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
}
.wcms-data .wcms-layer-body {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-height: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.wcms-data .wcms-layer-body-inner {
	padding: 30px 24px 20px;
}
.wcms-data .wcms-layer-body-inner::before,
.wcms-data .wcms-layer-body-inner::after {
	content: '';
	display: table;
	clear: both;
}
.wcms-data .wcms-layer-head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 12px 24px 11px 24px;
}
.wcms-data .wcms-layer-title {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
	margin: 0;
	font-size: 20px;
	line-height: 27px;
	font-weight: 700;
}
.wcms-data .wcms-layer-right {
	margin-left: auto;
	padding-left: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.wcms-data .wcms-layer-right .wcms-layer-close {
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
}
.wcms-data .wcms-layer-close {
	position: relative;
	display: block;
	width: 24px;
	height: 24px;
	background: url('../images/wcms/close.svg') no-repeat 50% 50%;
}
.wcms-data .wcms-layer-close::before {
	content: '';
	display: block;
	padding: 5px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -5px;
	left: -5px;
}
.wcms-data .wcms-layer-foot {
	padding: 15px 24px 30px;
}

/* hr */
.wcms-data .wcms-hr-1 {
	display: block;
	height: 1px;
	background-color: #e5e5e5;
}
.wcms-data .wcms-hr-2 {
	display: block;
	margin: 0 -24px;
	height: 10px;
	background-color: #f5f5f5;
}

/* full */
.wcms-data .wcms-full-block {
	margin-left: -24px;
	margin-right: -24px;
}

/* arrow button */
.wcms-data .wcms-arrow-button {
	display: block;
	font-size: 13px;
	line-height: 18px;
	color: #111;
	text-decoration: none;
	padding-right: 12px;
	background: url('../images/wcms/arrow-black.svg') no-repeat 100% 50%;
}
.wcms-data .wcms-arrow-button.type-inline {
	display: inline-block;
	vertical-align: top;
}

/* tel button */
.wcms-data .wcms-tel-button {
	display: block;
	font-size: 13px;
	line-height: 18px;
	color: #888;
	text-decoration: none;
	padding-left: 16px;
	background: url('../images/wcms/phone.svg') no-repeat 0 50%;
	border-bottom: 1px solid #888;
}
.wcms-data .wcms-tel-button.type-inline {
	display: inline-block;
	vertical-align: top;
}

/* fill arrow button */
.wcms-data .wcms-fill-arrow-button {
	position: relative;
	display: block;
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
	padding: 4px 20px 4px 8px;
	border-radius: 13px;
	background-color: #00a49d;
}
.wcms-data .wcms-fill-arrow-button::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	right: 8px;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	background: url('../images/wcms/arrow-white.svg') no-repeat 50% 50%;
}
.wcms-data .wcms-fill-arrow-button.type-inline {
	display: inline-block;
	vertical-align: top;
}

/* tab */
.wcms-data .wcms-tab {
	margin: 0 -24px 35px;
	position: relative;
}
.wcms-data .wcms-tab::before,
.wcms-data .wcms-tab::after {
	content: '';
	display: block;
	position: absolute;
	z-index: 10;
	right: 0;
	width: 24px;
}
.wcms-data .wcms-tab::before {
	top: 0;
	bottom: 1px;
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}
.wcms-data .wcms-tab::after {
	height: 1px;
	bottom: 0;
	background: -moz-linear-gradient(left, rgba(229, 229, 229, 0) 0%, rgba(229, 229, 229, 0) 5%, rgba(229, 229, 229, 1) 95%, rgba(229, 229, 229, 1) 100%);
	background: -webkit-linear-gradient(left, rgba(229, 229, 229, 0) 0%, rgba(229, 229, 229, 0) 5%, rgba(229, 229, 229, 1) 95%, rgba(229, 229, 229, 1) 100%);
	background: linear-gradient(to right, rgba(229, 229, 229, 0) 0%, rgba(229, 229, 229, 0) 5%, rgba(229, 229, 229, 1) 95%, rgba(229, 229, 229, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#e5e5e5',GradientType=1 );
}
.wcms-data .wcms-tab-inner {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	box-shadow: 0 -1px 0 #e5e5e5 inset;
}
.wcms-data .wcms-tab-list,
.wcms-data .wcms-tab-item,
.wcms-data .wcms-tab-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
.wcms-data .wcms-tab-link {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.wcms-data .wcms-tab-list::after,
.wcms-data .wcms-tab-item,
.wcms-data .wcms-tab-link,
.wcms-data .wcms-tab-text {
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
}
.wcms-data .wcms-tab-list {
	list-style: none;
	margin: 0;
	padding: 0 24px;
	box-sizing: border-box;
	width: 100%;
}
.wcms-data .wcms-tab-list::after {
	content: '';
	display: block;
	width: 24px;
	height: 1px;
}
.wcms-data .wcms-tab-item + .wcms-tab-item {
	margin-left: 28px;
}
.wcms-data .wcms-tab-link {
	position: relative;
	color: inherit;
	text-decoration: none;
	padding: 7px 0;
	min-height: 40px;
}
.wcms-data .wcms-tab-text {
	display: block;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #a2a2a2;
	white-space: nowrap;
}
.wcms-data .wcms-tab-link.is-active::before,
.wcms-data .wcms-tab-link.js-tabpanel-active::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 3px;
	background-color: #111;
}
.wcms-data .wcms-tab-link.is-active .wcms-tab-text,
.wcms-data .wcms-tab-link.js-tabpanel-active .wcms-tab-text {
	font-weight: 500;
	color: #111;
}



/** 221014  **/
/* wcms-tab--full */
.wcms-data .wcms-tab--full::before,
.wcms-data .wcms-tab--full::after {
	display: none;
}
.wcms-data .wcms-tab--full .wcms-tab-inner {
	overflow: inherit;
	-webkit-overflow-scrolling: inherit;
	box-shadow: none;
}
.wcms-data .wcms-tab--full .wcms-tab-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
	margin: 0;
	padding: 2px 0 0;
	list-style: none;
	box-sizing: border-box;
	justify-content: space-between;
	background: #a94d5d;
}
.wcms-data .wcms-tab--full .wcms-tab-list::after {
	display: none;
}
.wcms-data .wcms-tab--full .wcms-tab-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: 0;      
	padding: 0;
}
.wcms-data .wcms-tab--full .wcms-tab-link {
	position: relative;
	color: inherit;
	text-decoration: none;
	padding: 7px 0;
	min-height: 38px;
}
.wcms-data .wcms-tab--full .wcms-tab-text {
	margin-top: -2px;
	color: #fff;
}
.wcms-data .wcms-tab--full .wcms-tab-link {
	width: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.wcms-data .wcms-tab--full .wcms-tab-link.js-tabpanel-active {
	background: #fff;
}
.wcms-data .wcms-tab--full .wcms-tab-link.js-tabpanel-active::before {
	display: none;
}

/* event-box */
.event-monthly .event-box-wrap {
	display: block;
	margin: 10px 0;
	padding: 0;
	border: 1px solid #e5e5e5;
	border-radius: 15px;
	background-color: #fff;
	box-sizing: border-box;
}
.event-monthly .event-box-wrap-link {
	display: block;
	padding: 19px;
	text-decoration: none;
}
.event-monthly .event-box-wrap .event-title {
	margin: 0 0 10px !important;
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
}
.event-monthly .event-box-wrap .event-title-link {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	padding-right: 12px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
	color: #00a49d;
	background: url('../images/wcms/arrow.svg') no-repeat 100% 50%;
}
.event-monthly .event-box-wrap.is-expire {
	position: relative;
}
.event-monthly .event-box-wrap.is-expire:before {
	content: '이벤트종료';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	color: transparent;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 15px;
	box-sizing: border-box;
	z-index: 10;
}
.event-monthly .event-info-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 10px;
}
.event-monthly .event-info-top .event-icon {
	display: block;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
}
.event-monthly .event-info-top .event-icon img {
	display: inline-block;
	width: 36px;
	margin: 0 auto;
	margin-right: 10px;
	vertical-align: top;
	border-radius:12px;
}
.event-monthly .event-info-top .event-count {
	display: block;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
	min-height: 0;
	font-size: 13px;
	line-height: 18px;
	text-align: right;
	color: #111;
}
.event-monthly .event-info-wrap {
	margin: 10px 0;
}
.event-monthly .event-info-wrap:last-child {
	margin-bottom: 0;
}
.event-monthly .event-info > div {
	margin-top: 15px;
}
.event-monthly .event-info > div:first-child {
	margin-top: 0;
}
.event-monthly .event-info .event-info-text {
	margin-top: 10px;
	font-size: 17px;
	line-height: 22px;
	color: #111;
}
.event-monthly .event-info .event-info-text:first-child {
	margin-top: 0;
}
.event-monthly .event-info .event-info-text.type-small {
	font-size: 13px;
	line-height: 18px;
}
.event-monthly .event-info .event-info-text li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.event-monthly .event-info .event-info-text li[data-symbol]::before {
	content: attr(data-symbol);
	display: block;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	margin-right: 5px;
}
.event-monthly .event-info .event-info-text li[data-symbol] div {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
}
.event-monthly .event-info .event-info-text + .event-info-text {
	margin-top: 5px;
}
.event-monthly .event-info .event-info-date {
	margin: 10px 0;
	font-size: 13px;
	line-height: 18px;
	color: #888;
}
.event-monthly .event-info .event-info-date:last-child {
	margin-bottom: 0;
}
.event-monthly .event-qr-wrap {
	display: none;
}

/* event-rank */
.event-monthly .event-rank-wrap {
	margin-top: 20px;
}
.event-monthly .event-rank {
	border-top: 1px solid #e5e5e5;
}
.event-monthly .event-rank li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 15px 10px;
	border-bottom: 1px solid #e5e5e5;
}
.event-monthly .event-rank .event-rank-icon {
	display: block;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
}
.event-monthly .event-rank .event-rank-icon img {
	display: inline-block;
	width: 26px;
	margin: 0 auto;
	margin-right: 10px;
	vertical-align: top;
}
.event-monthly .event-rank .event-rank-link {
	display: block;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
	min-height: 0;
	font-size: 14px;
	line-height: 19px;
	color: #111;
	text-decoration: none;
	padding-right: 12px;
	background: url('../images/wcms/arrow.svg') no-repeat 100% 50%;
}
.event-monthly .event-rank li:nth-child(-n+3) .event-rank-link {
	font-weight: 500;
}

/* type-month */
.event-monthly .title-medium {
	margin: 0 0 10px;
	font-size: 17px;
	line-height: 22px;
	font-weight: 500 !important;
}
.event-monthly .title-normal {
	margin: 0 0 10px !important;
	font-size: 15px;
	line-height: 20px;
	font-weight: 400 !important;
}
.event-monthly .section:last-child {
	margin-bottom: 0;
}
.event-monthly .section {
	margin: 25px 0;
}
.event-monthly .color-gray {
	color: #888 !important;
}
.event-monthly .color-green {
	color: #00a49d !important;
}
.event-monthly .del-text {
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-decoration: none;
	color: #888;
}
.event-monthly .del-text::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	border-top: 1px solid #888;
}
/* 221109 모바일 팝업 사이즈 변경 재정의 */
.wcms-data .notice-pop-data-inner h3{margin:0;font-size:20px;line-height:27px;}
.wcms-data .notice-pop-data-inner p{margin:0;font-size:15px;line-height:20px;font-weight:300;}
.wcms-data .notice-pop-data-inner h3 + p{margin-top:19px;}
.wcms-data .notice-pop-data-inner ul{margin:0;padding:0;list-style:none;}
.wcms-data .notice-pop-data-inner ul li{position:relative; margin:10px 0 0 0;padding:0 0 0 7px;font-size:15px;line-height:20px;font-weight:300;}
.wcms-data .notice-pop-data-inner ul li::before {content:'';position:absolute;top:9px;left:0;width:2px;height:2px;background-color:#111;}
.wcms-data .notice-pop-data-inner .desc{margin:9px 0 0 0;font-size:13px;line-height:19px;font-weight:400;color:#888;}

/* 22.11.18 new-event */
.new-event .page-section-title {
	font-size: 1.9rem;
	line-height: 26px;
}
.new-event .page-section-title.type-line {
	font-size: 1.5rem;
	line-height: 20px;
}
.new-event .page-section-sub-title {
	font-size: 1.5rem;
	line-height: 2.0rem;
}
.new-event .section-contents .type-none {
	font-size: 1.7rem;
	line-height: 22px;
}
.new-event .section-title .title {
	font-size: 1.9rem;
	line-height: 26px;
}
.new-event .section-title .date {
	font-size: 1.5rem;
	line-height: 20px;
}
.new-event .section-title .sub {
	font-size: 1.7rem;
	line-height: 2.2rem;
}
.new-event .section-title .sub.default-text {
	font-size: 1.5rem;
	line-height: 2.0rem;
}
.new-event .section-title-info {
	font-size: 1.7rem;
	line-height: 24px;
}
.new-event .section-title-text {
	font-size: 1.6rem;
	line-height: 2.1rem;
}
.new-event .section-contents-title .title {
	font-size: 1.5rem;
}
.new-event .section-contents-title .title.type-basic {
	font-size: 1.7rem;
	line-height: 26px;
}
.new-event .section-contents-info {
	font-size: 1.5rem;
	line-height: 20px;
}
.new-event .ui-basic-button {
	font-size: 1.7rem;
	line-height: 2.2rem;
}
.new-event .ui-basic-button.type-medium {
	font-size: 1.7rem;
}
.new-event .ui-basic-button.type-small {
	font-size: 1.7rem;
}
.new-event .ui-basic-button.type-mini {
	font-size: 1.5rem;
	line-height: 2.0rem;
}
.new-event .ui-basic-button.type-tiny {
	font-size: 1.4rem;
	line-height: 1.9rem;
}
.new-event .ui-regular-button {
	font-size: 1.8rem;
	line-height: 2.3rem;
}
.new-event .ui-basic-button.type-icon-pick-2.type-small {
	font-size: 1.2rem;
}
.new-event .ui-basic-button.type-goapp {
	font-size: 16px;
}
.new-event .ui-buttons-list.type-has-tit .ui-buttons-item .tit {
	font-size: 1.7rem;
}
.new-event .ui-button-tooltip-text {
	font-size: 1.4rem;
	line-height: 19px;
}
.new-event .ui-button-aside {
	font-size: 1.4rem;
	line-height: 2.0rem;
}
.new-event .form-flex-cell {
	font-size: 1.6rem;
	line-height: 2.2rem;
}
.new-event .form-flex-cell.basic-text {
	font-size: 1.7rem;
	line-height: 24px;
}
.new-event .form-flex-cell.type-download-border-secondary {
	font-size: 1.4rem;
}
.new-event .form-flex-cell + .form-flex-cell.form-unit {
	font-size: 1.9rem;
}
.new-event .form-prefix {
	font-size: 1.9rem;
}
.new-event .ui-range-dash {
	font-size: 1.7rem;
}
.new-event .ui-mark-at {
	font-size: 1.9rem;
}
.new-event .form-group .form-group-text {
	font-size: 1.7rem;
	line-height: 22px;
}
.new-event .ui-alert-header__title {
	font-size: 2.2rem;
	line-height: 2.7rem;
}
.new-event .ui-alert-message {
	font-size: 1.8rem;
	line-height: 2.3rem;
}
.new-event .ui-alert-message--small {
	font-size: 1.6rem;
	line-height: 2.2rem;
}
.new-event .ui-toast-alert-text {
	font-size: 1.7rem;
	line-height: 2.2rem;
}
.new-event .page-contents {
	font-size: 1.5rem;
}
.new-event .card-image-title {
	font-size: 1.7rem;
	line-height: 2.8rem;
}
.new-event .card-image-text {
	font-size: 1.0rem;
	line-height: 1.3rem;
}
.new-event .card-image-amount-value {
	font-size: 2.0rem;
	line-height: 2.8rem;
}
.new-event .slide-banner .swiper-pagination {
	font-size: 1.3rem;
	line-height: 1.7rem;
}
.new-event .slide-banner--travel .banner-title {
	font-size: 1.5rem;
	line-height: 2.0rem;
}
.new-event .slide-banner--travel .banner-text {
	font-size: 1.9rem;
	line-height: 2.2rem;
}
.new-event .ui-arrow.type-small {
	font-size: 1.5rem;
	line-height: 20px;
}
.new-event .ui-arrow.type-tiny {
	font-size: 1.3rem;
	line-height: 20px;
}
.new-event .ui-arrow.type-text-default {
	font-size: 1.5rem;
	line-height: 20px;
}
.new-event .ui-tip {
	font-size: 1.5rem;
	line-height: 20px;
}
.new-event .ui-tip.type-small {
	font-size: 1.4rem;
	line-height: 19px;
}
.new-event .ui-tip.type-small-side {
	font-size: 1.4rem;
	line-height: 19px;
}
.new-event .menu-link-button {
	font-size: 1.7rem;
	line-height: 24px;
}
.new-event .menu-link-button .menu-link-text-sub {
	font-size: 1.5rem;
	line-height: 20px;
}
.new-event .menu-horizontal-link {
	font-size: 1.7rem;
	line-height: 22px;
}
.new-event .menu-horizontal-title {
	font-size: 1.7rem;
	line-height: 22px;
}
.new-event .menu-horizontal-text {
	font-size: 1.6rem;
	line-height: 21px;
}
.new-event .type-direct .menu-horizontal-link {
	font-size: 1.5rem;
	line-height: 2.0rem;
}
.new-event .type-direct .menu-horizontal-title {
	font-size: 1.4rem;
	line-height: 1.9rem;
}
.new-event .usage-default-list-title {
	font-size: 1.7rem;
	line-height: 2.3rem;
}
.new-event .usage-default-date {
	font-size: 1.5rem;
	line-height: 19px;
}
.new-event .usage-default-line-title {
	font-size: 1.5rem;
	line-height: 19px;
}
.new-event .usage-default-line-title .sub {
	font-size: 1.4rem;
	line-height: 20px;
}
.new-event .usage-default-title {
	font-size: 2.0rem;
	line-height: 2.6rem;
}
.new-event .type-basic-text .usage-default-title {
	font-size: 1.7rem;
	line-height: 23px;
}
.new-event .usage-default-sum {
	font-size: 1.9rem;
	line-height: 2.6rem;
}
.new-event .type-basic-text .usage-default-sum {
	font-size: 1.7rem;
	line-height: 23px;
}
.new-event .usage-default-etc-item {
	font-size: 1.4rem;
	line-height: 1.9rem;
}
.new-event .usage-default-brand {
	font-size: 1.5rem;
	line-height: 2.0rem;
}
.new-event .point-progress-title {
	font-size: 1.9rem;
	line-height: 23px;
}
.new-event .point-progress-gradation-item-text {
	font-size: 1.2rem;
	line-height: 1.6rem;
}
.new-event .ui-count-badge {
	font-size: 1.4rem;
	line-height: 1.9rem;
}
.new-event .event-case .page-info {
	font-size: 1.7rem;
	line-height: 23px;
}
.new-event .event-case .page-info .page-info-title {
	font-size: 2.2rem;
}
.new-event .luckyball .page-info {
	font-size: 1.7rem;
	line-height: 23px;
}
.new-event .luckyball .page-info .page-info-title {
	font-size: 2.2rem;
}
.new-event .xsmall-text {
	font-size: 1.3rem !important;
	line-height: 1.7rem !important;
}
.new-event .small-text {
	font-size: 1.4rem;
	line-height: 1.9rem;
}
.new-event .default-text {
	font-size: 1.5rem;
	line-height: 2.0rem;
}
.new-event .normal-text {
	font-size: 1.6rem;
	line-height: 2.1rem;
}
.new-event .basic-text {
	font-size: 1.7rem;
	line-height: 2.2rem;
}
.new-event .medium-text {
	font-size: 1.9rem;
	line-height: 2.2rem;
}
.new-event .large-text {
	font-size: 2.2rem;
	line-height: 3.0rem;
}
.new-event .big-text {
	font-size: 2.6rem;
	line-height: 3.5rem;
}
.new-event .wcms-data .wcms-title-large {
	font-size: 22px;
	line-height: 29px;
}
.new-event .wcms-data .wcms-title-medium {
	font-size: 19px;
	line-height: 24px;
}
.new-event .wcms-data .wcms-title-normal {
	font-size: 17px;
	line-height: 22px;
}
.new-event .wcms-data .wcms-title-small {
	font-size: 15px;
	line-height: 20px;
}
.new-event .wcms-data .wcms-size-large.wcms-size-large {
	font-size: 22px;
	line-height: 29px;
}
.new-event .wcms-data .wcms-size-medium.wcms-size-medium {
	font-size: 19px;
	line-height: 24px;
}
.new-event .wcms-data .wcms-size-normal.wcms-size-normal {
	font-size: 17px;
	line-height: 22px;
}
.new-event .wcms-data .wcms-size-small.wcms-size-small {
	font-size: 15px;
	line-height: 20px;
}
.new-event .wcms-data .wcms-table-inner > table > thead > tr > th,
.new-event .wcms-data .wcms-table-inner > table > tbody > tr > th,
.new-event .wcms-data .wcms-table-inner > table > tbody > tr > td {
	font-size: 15px;
	line-height: 20px;
}
.new-event .wcms-data .wcms-accordion-title {
	font-size: 17px;
	line-height: 22px;
}
.new-event .wcms-data .wcms-notice-title {
	font-size: 17px;
	line-height: 22px;
}
.new-event .wcms-data .wcms-info {
	font-size: 15px;
	line-height: 20px;
}
.new-event .wcms-data .wcms-button-text {
	font-size: 17px;
	line-height: 22px;
}
.new-event .wcms-data .wcms-button.type-inline .wcms-button-text {
	font-size: 14px;
	line-height: 19px;
}
.new-event .wcms-data .wcms-circle-title-symbol::after {
	font-size: 12px;
	line-height: 16px;
}
.new-event .wcms-data .wcms-form-key {
	font-size: 15px;
	line-height: 20px;
}
.new-event .wcms-data .wcms-error-message {
	font-size: 15px;
	line-height: 20px;
}
.new-event .wcms-data .wcms-label-text {
	font-size: 15px;
	line-height: 20px;
}
.new-event .wcms-data .wcms-layer-title {
	font-size: 22px;
	line-height: 29px;
}
.new-event .wcms-data .wcms-arrow-button {
	font-size: 15px;
	line-height: 20px;
}
.new-event .wcms-data .wcms-tab-text {
	font-size: 17px;
	line-height: 22px;
}
.new-event .event-monthly .event-box-wrap .event-title {
	font-size: 18px;
	line-height: 23px;
}
.new-event .event-monthly .event-box-wrap .event-title-link {
	font-size: 18px;
	line-height: 23px;
}
.new-event .event-monthly .event-info-top .event-count {
	font-size: 15px;
	line-height: 20px;
}
.new-event .event-monthly .event-info .event-info-text {
	font-size: 19px;
	line-height: 24px;
}
.new-event .event-monthly .event-info .event-info-text.type-small {
	font-size: 15px;
	line-height: 20px;
}
.new-event .event-monthly .event-info .event-info-date {
	font-size: 15px;
	line-height: 20px;
}
.new-event .event-monthly .event-rank .event-rank-link {
	font-size: 16px;
	line-height: 21px;
}
.new-event .event-monthly .title-medium {
	font-size: 19px;
	line-height: 24px;
}
.new-event .event-monthly .title-normal {
	font-size: 17px;
	line-height: 22px;
}
.new-event .wcms-data .wcms-tel-button {
	font-size: 15px;
	line-height: 20px;
}
.new-event .wcms-data .wcms-fill-arrow-button {
	font-size: 15px;
	line-height: 20px;
}
.new-event .coupon-card-brand {
	font-size: 1.4rem;
	line-height: 2.0rem;
}
.new-event .coupon-card-name {
	font-size: 1.9rem;
	line-height: 2.3rem;
	max-height: 4.4rem;
}
.new-event .coupon-card-date {
	font-size: 1.4rem;
	line-height: 2.0rem;
}
.new-event .wcms-data {
	font-size: 18px;
    line-height: 26px;
}
.new-event .ui-badge {
	font-size: 1.4rem;
	line-height: 28px;
}
