/* alert-electronic-push */
.alert-electronic-push {text-align:center;}
.alert-electronic-push .electronic-notice {margin:0 auto;}
.alert-electronic-push .has-com-icon::after {margin-top:0;}
.alert-electronic-push .type-icon-alarm::after {background-position:center top;}
.alert-electronic-push .type-icon-suggest::after {background-position:center top;}
.alert-electronic-push .type-icon-fail::after {background-position:center top;}
.alert-electronic-push .type-icon-fail-x::after {background-image:url('../../images/gj/ic-com-fail-x.svg'); background-position:center top;}

.type-gj-complete {padding-top:90px; }
.type-gj-complete .has-com-icon::after {margin-top:0; background-position:center top;}

.alert-electronic-push .electronic-push {position:relative; margin:0 auto; width:100%; padding-top:100%; max-width:400px; background-image:url('../../images/gj/img-letter-push.gif'); background-position:center top; background-repeat:no-repeat; background-size:100% auto;}
.alert-electronic-push .electronic-push .letter {position:absolute; top:40px; left:55px; right:55px; padding:24px 36px 0; opacity: 0;}
.alert-electronic-push .electronic-push .letter .tit {font-size:1.1rem; line-height:1.4; text-align:left;}
.alert-electronic-push .electronic-push .letter .form-detail-list {margin-top:7px;}
.alert-electronic-push .electronic-push .letter .form-detail-item {font-size:0.9rem; margin:0; line-height:1.5; font-weight:300;}

.layer-wrap.layer-electronic-push .electronic-push .letter.txt_ani{
	animation: fadein 4s ease-in-out;
	animation-delay:0.2s;
}
@keyframes fadein{
	0%{
		opacity: 0;
	}
	10%{
		opacity: 0;
		transform: translateY(20px);
	}
	30%,100%{
		opacity: 1;
		transform: none;
	}
}

.banner-promotion {padding: 0 24px; margin:10px 0 25px; }
.banner-promotion img {width:100%;}
.banner-promotion + .page-contents {padding-top:0;}

.form-detail-block.type-disabled,
.form-detail-block.type-disabled .usage-default-etc-item,
.form-detail-block.type-disabled .form-detail-title {color: var(--gray-60);}

.d-justify-between {
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.d-align-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.type-gj-list .usage-default-block.d-align-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.box-qr-scan {position:relative; padding: 25px 20px; border-radius: 15px; border: 1px solid var(--gray-30); background-color:#fff;}
.box-qr-scan .type-icon-qrscan {position:absolute; top:25px; right:20px;  background-image:url('../../images/gj/ic-qrscan-44.svg');}
.box-qr-scan .qr-info-title {display: block; font-size: 1.7rem; color: var(--basic); font-weight: 500;}
.box-qr-scan .qr-info-text {font-size: 1.5rem; line-height: 21px; color: var(--gray-70); margin-top:10px;}

.padding-top-15 {padding-top:15px;}

.info-cards.type-gj-cards-list .info-cards-list {padding:0 24px 0 46px;}
.info-cards.type-gj-cards-list .info-cards-link {width:220px;}
.info-cards.type-gj-cards-list .info-cards-title {font-size:1.2rem; text-align:center; font-weight:400;}

.type-gj-detail .accordion-item .accordion-opener:before {display:none;}
.type-gj-detail .accordion-opener {background:#fff;}
.type-gj-detail .accordion-contents {background: var(--gray-20);}
.type-gj-detail .accordion-list {border:none; border-radius:0;}
.type-gj-detail .accordion-item {border: 1px solid var(--gray-30); border-radius: 6px; overflow:hidden;}
.type-gj-detail .accordion-item + .accordion-item {margin-top:11px;}

.link-item.type-no-line-bottom {border-bottom:none;}

.blur-empty-image.type-gj::before {padding-top: 125%; background-image: url('../../images/gj/blur-empty-gj.png');}

.ui-basic-button.type-alarm-button {
	width: 152px;
}
.page-buttons.type-fixed.type-no-border {border:none;}
.type-height-fix .use-notice-item {margin-bottom:30px; }
.type-height-fix .use-notice-item {margin-bottom:30px; }
.type-height-fix .use-notice-item.js-accordion-opened {margin-bottom:0; }
.type-height-fix .use-notice-area .use-notice-contents {max-height:85px; overflow-y:auto;}

.padding-top-0 {padding-top:0 !important;}