/* type-certificate-list */
.type-certificate-list .ui-radio-block {position:relative; min-height:92px;}
.type-certificate-list .ui-radio-block .ui-label {padding:0; flex-direction: column;}
.type-certificate-list.ui-radio-group.type-grid:not(.type-grid-basic).type-col2 .ui-label {padding-top:30px; }
.type-certificate-list .ui-radio-block .icon-gov {display:inline-block; position:absolute; top:12px; left:15px; width:40px; height:14px; background:url('../../images/mkew/logo-gov.png') no-repeat 0; background-size:100%;}
.type-certificate-list .ui-radio-block .icon-court {display:inline-block; position:absolute; top:12px; left:15px; width:40px; height:14px; background:url('../../images/mkew/logo-court.png') no-repeat 0; background-size:100%;}


.type-subscribe {text-align:center; padding-top:90px;}
.type-subscribe .has-com-icon::after {margin-top:0; margin-bottom:20px;}
.type-subscribe .type-icon-suggest::after {background-position:center top;}
.type-subscribe .page-title {margin-bottom:14px;}
.type-subscribe .ui-loading-block {margin:0 auto; }

.padding-top-15 {padding-top:15px !important;}

/* card-certify-box */
.card-certify-box {position:relative; display:flex; gap:6px; flex-wrap: wrap; padding:20px 15px; margin-top:59px; border-radius: 15px; background: var(--gray-20);}
.card-certify-box::before {content:''; position:absolute; top:-29px; left:50%; margin-left:-48px; width:96px; height:38px; background:url('../../images/mkew/bg-holder.png') no-repeat 0;}
.card-certify-box .item {width:calc(50% - 6px); font-size:12px; padding:11px 5px; text-align:center; background:#fff; border: 1px solid var(--gray-30); border-radius: 6px; box-sizing:border-box; }

/* getissue-step-info */
.getissue-step-info {position:relative;}
.getissue-step-info > ol {position:relative;}
.getissue-step-info > ol::before {content:''; position:absolute; top:0; left:8px; bottom:235px; width:1px; border-left:1px dotted var(--gray-50); z-index:1;}
.getissue-step-info > ol > li {position:relative; padding-left:28px;}
.getissue-step-info > ol > li .num {position:absolute; top:0; left:0; display:inline-block; text-align:center; width:18px; height:18px; color:#fff; font-size:1rem; line-height:18px; border-radius:9px; background:var(--basic); z-index:2;}
.getissue-step-info > ol > li .step-cont .ui-arrow {display:inline-block; font-size:1.2rem; font-weight:500;}
.getissue-step-info > ol > li .step-cont .highlight {display:inline; box-shadow: inset 0 -7px rgba(0,164,157, 0.4);}
.getissue-step-info > ol > li .step-cont .img-wrap {margin-top:15px; margin-left:-28px;}
.getissue-step-info > ol > li .step-cont .img-wrap img {width:100%;}
.getissue-step-info > ol > li + li {margin-top:28px;}

.page-tab-panel.has-setting-btn {position:relative; padding:0 24px; background-color:#fff;}
.icon-type-setting {position:absolute; top:50%; margin-top:-11px; right:24px; width:22px; height:22px; background:url('../../images/mkew/icon-setting.png') no-repeat 0;;}

.fix-top-wrap.type-has-pagetab ~ .contents-wrap {padding-top:104px;}

.type-mkew-complete {padding-top:90px; }
.type-mkew-complete .has-com-icon::after {margin-top:0; background-position:center top;}
.ui-layer__body .type-mkew-complete {padding-top:0;}

.qr-url-word {display:block; word-wrap: break-word; white-space:normal;}

.mylist-wrap .mylist-list { overflow: hidden; border: 1px solid var(--gray-30); border-radius: 6px; padding:20px;}
.mylist-wrap .mylist-list .mylist-item {width:100%;}
.mylist-wrap .mylist-list + .mylist-list {margin-top:10px;}
.mylist-wrap .mylist-list.accordion-version {padding:0;}
.mylist-wrap .mylist-list.accordion-version .mylist-title {padding:20px; }
.mylist-wrap .mylist-list.accordion-version .accordion-contents {padding:20px; border-top: 1px solid var(--gray-30); background: var(--gray-20);}

.publist-wrap .publist-list {border: 1px solid var(--gray-30); border-radius: 6px; padding:20px;}
.publist-wrap .publist-list.checked {border: 1px solid var(--primary); }
.publist-wrap .publist-list .form-detail-list {padding:25px 0 0 25px;}
.publist-wrap .publist-list + .publist-list {margin-top:10px;}
.publist-wrap .publist-list.accordion-version {padding:0;}
.publist-wrap .publist-list.accordion-version .publist-title {padding:20px; }
.publist-wrap .publist-list.accordion-version .accordion-contents {padding:20px; border-top: 1px solid var(--gray-30); background: var(--gray-20);}


.mkew-status-wrap .mkew-status-list {border: 1px solid var(--gray-30); border-radius: 6px; padding:20px;}
.mkew-status-wrap .mkew-status-list .form-detail-list {padding:25px 0 0 25px;}
.mkew-status-wrap .mkew-status-list + .mkew-status-list {margin-top:10px;}
.mkew-status-wrap .mkew-status-list.accordion-version {padding:0;}
.mkew-status-wrap .mkew-status-list.accordion-version .mkew-status-title {padding:20px; }
.mkew-status-wrap .mkew-status-list.accordion-version .mkew-status-title .js-ui-accordion__opener::after {top:10px; }
.mkew-status-wrap .accordion-contents {padding:20px; background: var(--gray-20); border-top: 1px solid var(--gray-30);}
.mkew-status-wrap .mkew-status-detail {
	display: flex;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}
.mkew-status-wrap .mkew-status-detail .ui-notice {margin-top:0;}
.mkew-status-wrap .mkew-status-detail + .mkew-status-detail {margin-top:20px;}

.d-justify-between {
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.type-mkew-issue .ui-checkbox-block,
.type-mkew-issue .ui-radio-block {margin-top:15px;}
.type-mkew-issue .ui-select-multiple-item .ui-checkbox-block,
.type-mkew-issue .ui-select-multiple-item .ui-radio-block {margin-top:0;}
.type-mkew-issue .publist-list .ui-checkbox-block,
.type-mkew-issue .publist-list .ui-radio-block {margin-top:0;}

.mkew-issue-wrap .issue-list {display: flex; border: 1px solid var(--gray-30); border-radius: 6px; padding:20px;}
.mkew-issue-wrap .issue-list .form-detail-list {width:100%;}

.type-range-year-month .ui-select {padding-right:18px;}


.certify-link-list {
    display:flex;
	flex-wrap: wrap;
    margin-top:-25px;
}
.certify-link-list .link {
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	text-align: center;
    width:50%;
    margin-top:25px;
}
.certify-link-list .link .button {
	display: block;
	width: 100%;
	font-size: 1.2rem;
	line-height: 1.7rem;
}
.certify-link-list .link .button::before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto 8px;
	background: #fff no-repeat 50% 0 / 100% auto;
	border-radius: 12px;
}
.certify-link-list .link.type-oneSign .button::before {
	background-image: url('../../images/mkew/icon-certify-oneSign.png');
}
.certify-link-list .link.type-pass .button::before {
	background-image: url('../../images/mkew/icon-certify-pass.png');
}
.certify-link-list .link.type-toss .button::before {
	background-image: url('../../images/mkew/icon-certify-toss.png');
}
.certify-link-list .link.type-naver .button::before {
	background-image: url('../../images/mkew/icon-certify-naver.png');
}

/* ui-buttons type-narrow */
.ui-buttons .type-short {
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	min-width: 23%;
}